adf/pipeline/DeleteActivity.json
{
	"name": "DeleteActivity",
	"properties": {
		"activities": [
			{
				"name": "CheckFileExistace",
				"description": "To check if the file exists.",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "DeleteFile",
						"type": "DatasetReference",
						"parameters": {
							"file_name": {
								"value": "@pipeline().parameters.FileName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Exist condition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckFileExistace",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('CheckFileExistace').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Error Message",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "ErrorMessage",
								"value": "File does not exist. No deletion required."
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Delete1",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DeleteFile",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@pipeline().parameters.FileName",
											"type": "Expression"
										}
									}
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"FileName": {
				"type": "string",
				"defaultValue": "gold_medal_20250409_134129.csv"
			}
		},
		"variables": {
			"ErrorMessage": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-04-17T10:55:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}